/* CSS files add styling rules to your content */

body {
  font-family: 'Overpass Mono', monospace;
  margin: 2em;
  background-color:#FEF5E7;
}


p{
  color: black;
  font-size: 40px;
  text-align: left;
  margin-top:20%;
  margin-left:40%;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 12em;
    margin: 0 auto black;
    border-right: 2px solid black;
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
    
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

h2{
  color: black;
  font-size: 30px;
  position: absolute;
  bottom: 148px;
  left: 13%;
}

h3{
  color:  black;
  font-size: 30px;
  position: absolute;
  bottom: 88px;
  left: 13%;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color:#F4D03F;
  text-decoration: none;
}

a:visited{
  color:black;
}

a:active{
  color:black;
}
